<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/admin/edit-product/{{product._id}}" method="post" role="form" enctype="multipart/form-data">
                <legend>Edit Product</legend>

                <div class="form-group">
                    <label for="first_name">Name</label>
                    <input type="text" class="form-control" name="Name" id="first_name" placeholder="Name"
                        value="{{product.Name}}">
                </div>

                <div class="form-group">
                    <label for="last_name">category</label>
                    <input type="text" class="form-control" name="category" id="first_name" placeholder="category"
                        value="{{product.category}}">
                </div>

                <div class="form-group">
                    <label for="email">price</label>
                    <input type="text" class="form-control" name="price" id="email" placeholder="price"
                        value="{{product.price}}">
                </div>

                <div class="form-group">
                    <label for="pw">Description</label>
                    <input type="text" class="form-control" name="Description" placeholder="Description" id="pw"
                        value="{{product.Description}}">
                </div>

                <div class="form-group">
                    <label for="">image</label>
                    <img src="/product-images/{{product._id}}.jpg" style="width: 100px;height: auto;" id="imgVeiw"
                        alt="">
                    <input type="file" class="form-control" name="image" onchange="viewImage(event)">
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
<script>
    function viewImage(event) {
        document.getElementById('imgVeiw').src = URL.createObjectURL(event.target.files[0])
    }
</script>